body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 20px;
}

form {
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="date"],
input[type="text"],
input[type="number"],
input[type="submit"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* Custom styles */
#order_date {
  width: calc(100% - 10px);
  /* Adjust the width to accommodate the date picker dropdown */
}

.email {
  font-style: italic;
}

.submit-button {
  background-color: #ff7f50;
  /* Custom button color */
}

.submit-button:hover {
  background-color: #ff6347;
  /* Custom button hover color */
}

/* Responsive styles */
@media (max-width: 600px) {
  form {
    padding: 20px;
  }
}