<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin page</title>
</head>
<body>
<center>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Item/Customer</th>
      <th scope="col">Customer 1</th>
      <th scope="col">Customer 2</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Quantity</th>
      <td>{{qty1}}</td>
      <td>{{qty2}}</td>
      <td>{{total_qty}}</td>
    </tr>
    <tr>
      <th scope="row">Weight</th>
      <td>{{wght1}}</td>
      <td>{{wght2}}</td>
      <td>{{total_weight}}</td>
    </tr>
    <tr>
      <th scope="row">Box Count</th>
      <td>{{box1}}</td>
      <td>{{box2}}</td>
      <td>{{total_box}}</td>
    </tr>
  </tbody>
</table>
</center>

</body>
</html>